@font-face {
    font-family: main;
    src: url(assets/main.ttf);
}

@font-face {
    font-family: mono;
    src: url(assets/mono.ttf);
}

#bg-main {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#bg-img {
    position: absolute;
    display: inline-block;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.noscroll::-webkit-scrollbar, body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
.noscroll, body, html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#content {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
}
#content-title {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ffffff;
    font-family: mono;
}
#content-title h4 {
    position: relative;
    display: inline-block;
    width: fit-content;
}
#content-title h4 img {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(130%,-50%);
}
#content-title a {
    color: #ffffff;
    font-family: mono;
    text-decoration: none;
    padding: 5px;
    background-color: #8459c980;
    backdrop-filter: blur(6px);
    border-radius: 5px;
    transition: background-color 0.2s;
}
#content-title a:hover {
    background-color: #8459c99a;
}

#rows {
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 15%;
    height: fit-content;
    width: 70vw;
}
.content-row {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.content-item {
    position: relative;
    display: inline-block;
    height: 20vh;
    width: calc((70vw / 4) - 7.5px);
    margin: 0px;
    background-color: #8459c980;
    backdrop-filter: blur(6px);
    margin-right: 6px;
    transition: background-color 0.2s, height 0.2s, margin-bottom 0.2s;
    cursor: pointer;
}
.content-item:last-child {
    margin-right: 0px;
}
.content-item:hover {
    background-color: #8459c99a;
}
.content-item.active {
    background-color: #9369d6ce;
    height: 21vh;
    margin-bottom: -10px;
}
.item-title {
    position: absolute;
    top: 3%;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 25%;
    color: #ffffff;
    font-family: mono;
    text-align: center;
}
.item-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.item-short-desc {
    position: absolute;
    top: 15%;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 80%;
    color: #ffffff;
    font-family: main;
    text-align: center;
}
.item-short-desc span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 90%;
    height: fit-content;
}
.item-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
    border-radius: 16px;
    cursor: pointer;
}
.item-link:hover {
    background-color: #00000033;
}
.item-link:focus {
    outline: none;
}
.item-link img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.long-descs {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    background-color: #8459c900;
    margin-top: 6px;
}
.ldesc {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45vh;
    background-color: #9369d6e3;
    box-sizing: border-box;
    padding: 15px;
    font-family: main;
    color: white;
}
.long-img {
    position: absolute;
    right: 10px;
    top: 50%;
    display: inline-block;
    width: 50%;
    height: fit-content;
    max-height: 90%;
    transform: translate(0,-50%);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.long-img img {
    width: 100%;
    height: auto;
    max-height: 40vh;
    border-radius: 5px;
}
.long-content {
    position: absolute;
    top: 5vh;
    left: 15px;
    display: inline-block;
    width: 40%;
    height: 100%;
}
.long-title {
    font-family: mono;
    font-size: 2.4vh;
}
.long-link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    background-color: #00000033;
    border-radius: 5px;
    color: white;
    font-family: mono;
    transition: background-color 0.2s;
}
.long-link:focus {
    outline: none;
}
.long-link:hover {
    background-color: #00000055;
}