.code-summary {
    height: 100%;
    overflow: hidden;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -10;
    user-select: none;
    filter: brightness(85%);
    transition: filter 0.1s;
}

.header {
    &:hover .code-summary {
        filter: brightness(90%);
    }

    &.expanded {
        display: inline-block;
        position: relative;
        height: 360px;
        width: 100vw;
        .self-info {
            height: 100%;
            width: 100%;
            padding-right: 48px;
            white-space: nowrap;

            .info-text {
                height: 100%;
            }

            .info-image {
                position: relative;
                height: fit-content;
                width: fit-content;

                img {
                    border-radius: 50%;
                    max-height: calc(360px - 96px);
                    height: auto;
                    max-width: 40vw;
                }

                .contact-action {
                    position: absolute;
                    right: 5%;
                    bottom: 5%;
                }
            }
        }
    }

    &.collapsed {
        display: inline-block;
        position: relative;
        height: 60px;
        width: 100vw;

        .contact-action {
            margin-right: 24px;
        }

        .self-info {
            height: 100%;
            width: fit-content;
            padding-right: 48px;
            white-space: nowrap;

            .info-text {
                height: 100%;
            }

            .info-image {
                max-height: calc(100% - 16px);
                height: auto;
                width: auto;
                border-radius: 50%;
            }
        }
    }
}
