.site-shell {
    .site-header {
        transition: height 0.2s;
    }

    .site-nav {
        .nav-expander {
            position: absolute;
            display: inline-block;
            height: 64px;
            right: -24px;
            top: 50%;
            transform: translate(0, -50%);
            z-index: -10;
        }
    }
}